/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

/* reset css */
* {
  margin: 0;
  padding: 0;
}

/* common css  */

button {
  cursor: pointer;
  transition: all 0.5s;
}
button:hover{
  scale: 110%;
}

.main-heading {
  font-family: "Merriweather", serif;
  font-size: 3.7125rem; /*82.5% of 4.5rem*/
  color: #fff;
  text-align: center;
  font-weight: 900;
  line-height: 5.9375rem; /* 131.944% */
}

.second-heading {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 3.3rem; /*82.5% of 4rem*/
  font-weight: 900;
  line-height: 5.5rem; /* 137.5% */
  letter-spacing: 0.44rem;
}

.third-heading-merry {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 2.475rem; /*82.5% of 3rem*/
  font-weight: 900;
}

.third-heading-inter {
  font-family: "Inter", sans-serif;
  font-size: 2.475rem; /*82.5% of 3rem*/
  font-weight: 700;
}
.fourth-heading {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 1.2375rem; /*82.5% of 1.5rem*/
  font-weight: 500;
}
p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 1.03125rem; /*82.5% of 1.25rem*/
  font-weight: 400;
  line-height: 2rem; /* 160% */
  margin: 1.2375rem 0;
}
.red-text {
  color: #f00;
}

.container {
  width: 82.5%;
  max-width: 90rem;
  margin: 0 auto;
  margin-bottom: 6.1875rem; /*82.5% of 7.5rem*/
}

/* main css */
header {
  padding-top: 2.58225rem;
}

.banner {
  background-image: url("../image/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  overflow: hidden;
}

.banner-sub {
  width: 100%;
  background-image: linear-gradient(#070211, #07021100);
}
/* #070211, #07021100 */

.banner-text {
  /* padding: 11.06rem 21.5rem; */
  padding: 11.06rem 14%;
  text-align: center;
  filter: brightness();
}
.banner-h4 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.65rem;
  font-weight: 400;
  margin-top: 1rem;
}

/* off section */
.off-section {
  text-align: center;
}
.off-heading {
  text-align: center;
  font-size: 4.5375rem; /*82.5% of 5.5rem*/
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.off-section h4 {
  margin-top: 2.475rem;
  margin-bottom: 0.825rem;
}

.off-section img {
  margin-top: 2.475rem;
}

/* party section */

.party {
  background-image: url("../image/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  overflow: hidden;
}
.sub-party {
  background-image: linear-gradient(to right, #070211, #07021100);
  display: flex;
  justify-content: space-between;
}
.party-text {
  padding: 7.8rem;
  padding-right: 2rem;
}

.party-text .second-heading {
  line-height: 4.5375rem; /*82.5% of 5.5rem*/
}
.party-text p {
  color: #ffffffcc;
}

.party-text button {
  background: none;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 0.928125rem; /*82.5% of 1.125*/
  padding: 1.65rem 1.2375rem; /*82.5% of 3rem and 2rem*/
}
.party-image {
  margin-top: 3.5145rem;
  margin-right: 7.92rem;
}

/* time date and place section */

.time-and-place {
  background-image: linear-gradient(
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  border-radius: 1rem;
}
.time-date-place {
  font-family: "inter", sans-serif;
  font-size: 1.65rem; /*82.5% of 2rem*/
  margin-bottom: 1rem;
}
.items {
  padding-top: 5.15625rem;
}
.items button {
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
  padding: 0.825rem 1.65rem;
  border-radius: 0.5rem;
  margin-top: 2.475rem;
}

/* comming soon section  */

.comming-soon {
  display: flex;
  align-items: center;
}

.col1 h4 {
  margin-bottom: 1rem;
}

.col2 {
  margin-left: 4rem;
  margin-right: 6rem;
}

.col2 img {
  border-radius: 50%;
  padding: 3rem;
  border: 1rem solid #f00;
}

/* sale section */

.sale-section {
  text-align: center;
}

.sale-image {
  background-image: url("../image/group-79.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 41rem;
  border-radius: 1rem;
}

.sale-image .img1 {
  width: 38%;
  padding-left: 62%;
}

.img2 {
  position: relative;
  bottom: 56%;
  right: -10%;
}

/* portfolio section */

.p-texts {
  max-width: 70%;
}

.portfolio .row {
  display: flex;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.portfolio img {
  width: 100%;
  transition: all 0.5s;
  border-radius: 1rem;
}

.portfolio .image{
  margin-top: 2.475rem;
}
.portfolio img:hover {
  scale: 110%;
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(49, 49, 49);
}

.p-img {
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(49, 49, 49);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* newsletter section */

.newsletter {
  text-align: center;
  border-radius: 1rem;
  background: rgba(255, 0, 0, 0.05);
  padding: 4.125rem 0;
}

.newsletter > p{
  padding: 0 11rem;
}

.newsletter .third-heading-merry {
  margin-top: 2.06rem;
  margin-bottom: 1.13rem;
}



.sub-box input[type="email"] {
  padding: 1.28rem 14rem 1.28rem 1.54rem;
  border: none;
  outline: none;
  border-radius: 3.12rem 0 0 3.12rem;
  margin-right: 0;
}
.sub-box input[type="submit"] {
  padding: 1rem 2.88rem;
  background-color: #f00;
  border: none;
  outline: none;
  color: #fff;
  font-family: "inter", sans-serif;
  font-size: 1.03125rem;
  font-weight: 600;
  margin-left: 0;
  border-radius: 0 3.12rem 3.12rem 0;
  transition: all 0.5s;
}

.sub-box input[type="submit"]:hover{
  background-color: rgb(128, 2, 2);
}
/* footer section */
footer{
  background: #070211;
  padding-top: 6.1875rem;
  padding-bottom: 6.1875rem;
}
footer p{
  color: #fff;
}
.row{
  display: flex;
  justify-content: space-between;
}

.p-r-7{
  padding-right: 7rem;
}

.p-r-7 p{
  display: flex;
  align-items: center;
  gap: 0.825rem;
}

footer .social{
  margin: 2.47rem auto;
}
footer .social img{
  margin-left: 1.237rem;
  transition: all 0.5s;
}

footer .social img:hover{
  scale: 110%;
}

footer .container{
  margin-bottom: 0;
}

footer hr{
  background: #FFFFFF26;
  border: 1px solid #FFFFFF26;
}

footer a{
  text-decoration: none;
}

